@page "/"

@using System.Net
@using TobyBlazor.Models

<div id="main-ui">
    <CommandInput OnSearch="@OnSearchResults" />
    
    <div style="padding-bottom: 15px;">
        <VideoList Videos="@_topFiveRecentlyPlayed" RecentlyPlayed="true" OnSelectedVideo="@OnSelectedVideo" />
    </div>

    @switch (Result.Type)
    {
        case SearchResultType.Manage:
        case SearchResultType.ManageRecentlyPlayed:
            <VideoManagement Videos="@Result.Videos" OnDeleteVideo=@OnDeleteVideo RecentlyPlayed=@(Result.Type == SearchResultType.ManageRecentlyPlayed) />
            break;
        case SearchResultType.ManageGroups:
            <GroupManagement />
            break;
        case SearchResultType.Search:
            <VideoPagination RecentlyPlayed=@RecentlyPlayed Videos=@Result.Videos>
                <Content>
                    <VideoList Videos="@context" OnSelectedVideo="@OnSelectedVideo" />
                </Content>
            </VideoPagination>
            break;
    }
</div>

@if (SelectedVideo != null && !string.IsNullOrEmpty(SelectedVideo.YTId))
{
    <WindowTitle Title="@WebUtility.HtmlDecode(SelectedVideo.Title)" />
    <VideoPopup SelectedVideo="@SelectedVideo" OnPopupClosed="@OnVideoDismissed" />
}
else
{
    <WindowTitle Title="Toby" />
}

@if (Result.Message != null && !string.IsNullOrEmpty(Result.Message.Value))
{
    <Notification Message="@Result.Message.Value" NotificationType="@Result.Message.Type" OnClose="@OnNotificationClose" />
}
